<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!--jquery-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <!--微信-->
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
  <!-- Vant -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
  <!--阿里巴巴图标-->
  <link rel="stylesheet" href="js/iconfont/iconfont.css" />
  <!--axios-->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
  <!--高德地图-->
  <script
    src="https://webapi.amap.com/maps?v=1.4.15&key=aaf1ef61096f6ec64b68ee37491572d7&plugin=AMap.PolyEditor,AMap.CircleEditor,AMap.Geocoder,AMap.MouseTool,AMap.MarkerClusterer,AMap.DistrictSearch">
    </script>
  <!--地点位置数据-->
  <script src="js/arealist.js"></script>

  <title>质量问题上报</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    /* 表单-Start*/
    .form {
      margin: 15px;
      margin-bottom: 70px;
    }

    .van-cell {
      margin-top: 8px;
      background: #F1F3F5;
      border-radius: 8px;
    }


    #container {
      width: 100%;
      height: 10rem;
      margin-top: 5px;
    }

    .amap-geolocation-con {
      z-index: 1 !important;
    }

    /* 表单-End */


    /* 确认按钮-Start*/
    .button {
      z-index: 99999;
      position: fixed;
      width: 100%;
      height: 60px;
      bottom: 0;
      background: #F2F2F2;
      border-top: 1px solid #E2E2E2;
    }

    /* 确认按钮-End */
  </style>
</head>

<body>
  <div id="contain">
    <!--表单-->
    <van-form class="form">
      <h4>基本信息</h4>
      <van-cell title="问题程度" is-link name="problemlevel" :value="levelName==''?'选择问题程度':levelName"
        @click="levelShowPicker = true">
      </van-cell>

      <van-cell title="问题类型" is-link name="picker" :value="typeName==''?'选择问题类型':typeName"
        @click="typeShowPicker = true">
      </van-cell>
      <van-divider></van-divider>

      <h4>问题描述</h4>
      <van-field v-model="descvlaue" rows="2" autosize type="textarea" maxlength="100" placeholder="请输入问题描述"
        show-word-limit></van-field>
      <van-divider></van-divider>

      <h4>整改期限</h4>
      <van-cell title="整改日期" is-link name="picker" :value="validate==''?'选择整改日期':validate" @click="timeshow = true">
      </van-cell>
      <van-divider></van-divider>

      <h4>图片</h4>
      <van-row type="flex" style="margin-top: 10px;">
        <van-uploader v-model="images" :before-read="uploadImage" :capture="mobilePhone == 'ios' ? '' : 'camera'">
        </van-uploader>
      </van-row>
      <van-divider></van-divider>

      <van-row type="flex" justify="space-between">
        <van-col>
          <h4>地点</h4>
        </van-col>

      </van-row>
      <van-cell title="地点" is-link name="problemlocation" :value="areaName==''?'选择地点':areaName"
        @click="areashow = true">
      </van-cell>
      <van-field style="margin-top: 1px;" v-model="address" label="详细地址" placeholder="请输入详细地址或点击地图" input-align="right">
      </van-field>
      <div id="container"> </div>
      <van-divider></van-divider>


      <h4>整改人</h4>
      <van-cell title="整改人" is-link name="picker" :value="reformuserName==''?'选择整改人':reformuserName"
        @click="rectPeopleShow = true">
      </van-cell>
    </van-form>

    <!--确认按钮-->
    <div class="button" v-show="!levelShowPicker && !typeShowPicker && !timeshow && !areashow && !rectPeopleShow">
      <van-row type="flex" justify="space-around" style="height: 100%;align-items:center;">
        <van-col span="11">
          <van-button type="info" block round color="#C5C8D2" @click="goBackUrl">取消</van-button>
        </van-col>
        <van-col span="11">
          <van-button type="info" block round color="#6A8AF0" v-on:click="submitForm">提交</van-button>
        </van-col>
      </van-row>
    </div>

    <!--底部弹出选项-->
    <van-popup v-model="levelShowPicker" position="bottom">
      <van-picker show-toolbar :columns="levelColumns" title="问题程度" @confirm="levelOnConfirm"
        @cancel="levelShowPicker = false" value-key="key"></van-picker>
    </van-popup>

    <van-popup v-model="typeShowPicker" position="bottom">
      <van-picker show-toolbar :columns="typeColumns" title="问题类型" @confirm="typeOnConfirm"
        @cancel="typeShowPicker = false" value-key="key">
      </van-picker>
    </van-popup>

    <van-popup v-model="timeshow" position="bottom">
      <van-datetime-picker @confirm="timeOnConfirm" type="date" title="选择整改日期" :min-date="minDate">
      </van-datetime-picker>
    </van-popup>

    <van-popup v-model="areashow" position="bottom">
      <van-area @confirm="areaOnConfirm" title="地点" :area-list="areaList"></van-area>
    </van-popup>

    <van-popup v-model="rectPeopleShow" position="bottom">
      <van-picker show-toolbar :columns="rectPeopleList" title="请选择整改人" @confirm="PeopleOnConfirm"
        @cancel="rectPeopleShow = false" value-key="employeeName">
      </van-picker>
    </van-popup>
  </div>
</body>


<script src="./js/public.js"></script>
<script>
  var date = new Date();
  var year = date.getFullYear();
  var month = date.getMonth();
  var strDate = date.getDate();

  var vm = new Vue({
    el: "#contain",
    data: {
      platCode: getUrlParam('platCode'),
      corpCode: getUrlParam('corpCode'),
      projectCode: getUrlParam('projectCode'),
      token: getUrlParam('token'),
      userCode: getUrlParam('userCode'),
      userName: getUrlParam('userName'),
      projectId: getUrlParam('projectId'),
      mobilePhone: getUrlParam('mobilePhone'),
      gpsFenceStyr: [],
      porJetLng: '',
      porJetLat: '',
      apiUrl: 'https://site.tieweizhixing.com', //接口domain
      value: '',
      levelColumns: [], //问题程度
      levelShowPicker: false, //显示问题程度
      levelName: '', //问题层度显示名称 
      typeColumns: [], //问题类型
      typeShowPicker: false, //显示问题类型
      typeName: '', //问题类型显示名称
      descvlaue: '', //问题描述
      minDate: new Date(year, month, strDate), //最小整改日期
      validate: '', //整改日期
      timeshow: false, //显示整改日期
      images: [],//图片
      areaList: areaList, //地点
      areashow: false, //显示地点
      areaName: '', //地点显示名称
      address: '', //详细地址
      rectPeopleList: [], // 整改人列表
      rectPeopleShow: false, // 显示整改人
      reformuser: '', //整改人手机号
      reformuserName: '', //整改人姓名
      reformuserUserCode: '',
      formData: { //表单数据
        platCode: getUrlParam('platCode'), //平台代码
        corpCode: getUrlParam('corpCode'), //公司代码
        projectCode: getUrlParam('projectCode'), //项目代码
        userCode: getUrlParam('userCode'), //上报人编码
        userName: decodeURI(getUrlParam('userName')), //上报人姓名
        reportTypeCode: "quality", //上报类型:安全问题safety,质量问题quality,班前培训classtrain,施工日志worklog
        reportGps: [],//地点gps定位
        reportDate: new Date(), //报告日期
        content: [], //不同类型需上报的数据
      },
    },
    created() {
    },
    mounted() {
      this.getProjectList()
      this.countTriduum()
      this.getDictionary();
      this.getProjectEmployeeList()
    },
    methods: {
      getProjectList() { // 调用 整个项目记录
        axios.post(this.apiUrl + "/token-service/project/20/selectEmployeeProjectList", {
          token: this.token
        })
          .then(res => {
            if (res.data.code == '1') {
              res.data.data.list.forEach(item => {
                if (item.projectId == this.projectId) {
                  // this.formData.reportGps = [JSON.parse(item.gpsFence)[0].lng, JSON.parse(item.gpsFence)[0].lat]
                  electronicRail(JSON.parse(item.gpsFence))
                  fistRegeoCode(JSON.parse(item.gpsFence)[0].lng, JSON.parse(item.gpsFence)[0].lat)
                }
              })
            } else {
              console.log('整个项目记录');
            }
          })
          .catch(err => {
          })
      },
      countTriduum() { // 获取后三天日期
        let time = new Date().getTime() + 259200000;//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var date = new Date(time)
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        var currentTime = year + "-" + month + "-" + day
        this.validate = currentTime
      },
      getProjectEmployeeList() {//获取整改人员
        var that = this;
        var params = {
          token: that.token,
          corpCode: that.corpCode
        };
        axios.post(that.apiUrl + "/token-service/employee/20/getProjectEmployeeList", params)
          .then(res => {
            if (res.data.code == '1') {
              this.rectPeopleList = res.data.data.list
            }
          })
          .catch(err => {
            console.error(err);
          })
      },
      getDictionary() { //获取上报数据所需字典
        var that = this;
        //问题程度
        axios.post(that.apiUrl + '/projectservice/report/20/getDictionary', {
          reportTypeCode: 'quality',
          platCode: that.platCode,
          dictTag: "qualitylevel"
        })
          .then(res => {
            if (res.data.code == '1') {
              that.levelColumns = res.data.data.list;
            }
          })
          .catch(err => {
            console.error(err);
          })
        //问题类型
        axios.post(that.apiUrl + '/projectservice/report/20/getDictionary', {
          reportTypeCode: 'quality',
          platCode: that.platCode,
          dictTag: "qualitytype"
        })
          .then(res => {
            if (res.data.code == '1') {

              that.typeColumns = res.data.data.list;

            }
          })
          .catch(err => {
            console.error(err);
          })
      },
      levelOnConfirm(data) { //问题程度选择
        var that = this;
        that.levelName = data.key;
        that.levelShowPicker = false;
      },
      typeOnConfirm(data) { //问题类型选择
        var that = this;
        that.typeName = data.key;
        that.typeShowPicker = false;
      },
      timeOnConfirm(date) { //整改日期选择
        this.timeshow = false;
        var date = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
        this.validate = date;
      },
      areaOnConfirm(date) { //地区选择
        var that = this;
        var areaname = '';
        date.forEach(item => {
          areaname += item.name + "\xa0"
        });
        that.areaName = areaname;
        that.areashow = false;

        geoCode(areaname);
      },
      PeopleOnConfirm(data) { // 整改人选择
        var that = this;
        that.reformuser = data.mobilePhone
        that.reformuserName = data.employeeName;
        that.reformuserUserCode = data.userCode
        that.rectPeopleShow = false;
      },
      uploadImage(file) { //图片上传
        var that = this;
        var formData = new FormData();
        formData.append("token", that.token);
        formData.append("uploadPath", 'safetyImage');
        formData.append("myfiles0", file);
        axios.post(that.apiUrl + "/file-service/upload/uploadfiles", formData)
          .then(res => {
            var data = {
              url: res.data.data.myfiles0
            };
            that.images.push(data)
          })
          .catch(err => {
            Toast.$fail(err);
          })
      },
      submitForm() { //提交
        var that = this;
        if (that.formValidator()) {
          return;
        }
        var params = that.formData;
        var content = that.setFormContent();
        params["content"] = content;
        axios.post(that.apiUrl + "/projectservice/report/20/addReportData", params)
          .then(res => {
            if (res.data.code == '1') {
              that.$toast.success('上报成功！');
              that.goBackUrl()
            } else {
              that.$toast(res.data.msg);
              return;
            }
          })
          .catch(err => {
            console.error(err);
          })
      },
      goBackUrl() { // 取消返回上一层
        window.history.go(-1)
      },
      formValidator() {
        var that = this;
        if (that.levelName == '') {
          that.$toast.fail('请选择问题程度！');
          return true;
        }
        if (that.typeName == '') {
          that.$toast.fail('请选择问题类型！');
          return true;
        }
        if (that.descvlaue == '') {
          that.$toast.fail('请输入问题描述！');
          return true;
        }
        if (that.validate == '') {
          that.$toast.fail('请选择整改日期！');
          return true;
        }
        if (that.images.length <= 0) {
          that.$toast.fail('请上传问题图片！');
          return true;
        }
        if (that.formData.reportGps == '') {
          that.$toast.fail('请选择地点！');
          return true;
        }
        if (that.address == '') {
          that.$toast.fail('请输入详细地址！');
          return true;
        }
        if (that.reformuser == '') {
          that.$toast.fail('请选整改人！');
          return true;
        }
        return false;
      },
      setFormContent() { //设置表单内容
        var that = this;
        var images = [];
        that.images.forEach(item => {
          images.push(item.url)
        });
        return {
          data: [{
            "key": "qualitylevel",
            "name": "问题程度",
            "value": that.levelName
          },
          {
            "key": "qualitytype",
            "name": "问题分类",
            "value": that.typeName
          },
          {
            "key": "desc",
            "name": "问题描述",
            "value": that.descvlaue
          },
          {
            "key": "validate",
            "name": "整改期限",
            "value": that.validate
          },
          {
            "key": "image",
            "name": "图片",
            "value": images
          },
          {
            "key": "address",
            "name": "详细地点",
            "value": that.address
          },
          {
            "key": "reformuser",
            "name": "整改人",
            "value": that.reformuser,
            "userName": that.reformuserName,
          },
          {
            key: "reformuserCode",
            name: "整改人用户编码",
            value: that.reformuserUserCode
          }
          ]
        };
      }
    }
  });

  var map = new AMap.Map("container", {
    resizeEnable: true, //启用调整大小
    dragEnable: true, //拖动
    zoom: 10,
  });


  // AMap.plugin('AMap.Geolocation', function () {
  //   var geolocation = new AMap.Geolocation({
  //     enableHighAccuracy: true, //是否使用高精度定位，默认:true
  //     timeout: 10000, //超过10秒后停止定位，默认：5s
  //     buttonPosition: 'RB', //定位按钮的停靠位置
  //     buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
  //     zoomToAccuracy: true, //定位成功后是否自动调整地图视野到定位点
  //   });
  //   map.addControl(geolocation);
  // });

  var lnglats = [];
  var markers = [];
  var marker = new AMap.Marker();
  var geocoder = new AMap.Geocoder({});

  // 设置地图中心的及层级 - 电子围栏
  function electronicRail(val) {
    let newGpsFen = []
    val.forEach(item => {
      newGpsFen.push([item.lng, item.lat])
    })
    var polygon = new AMap.Polygon({
      path: newGpsFen,
      fillColor: '#5ea8e699', // 多边形填充颜色
      strokeColor: '#fff', // 线条颜色
      map: map
    })
    this.contentGps = polygon.getBounds().getCenter()
    this.map.setFitView([polygon], true)
    showInfo(polygon)
  }
  /*设置覆盖物点标记*/
  function showInfo(polygon) {
    polygon.on('click', function (e) {
      clear();
      if (lnglats.length < 1) {
        lnglats.push(e.lnglat);
        var index = lnglats.length;
        marker.setPosition(e.lnglat);
        markers.push(marker);
        map.add(marker);
        vm.formData.reportGps = lnglats[0].lng + ',' + lnglats[0].lat
        regeoCode()
      }
    });
  }

  /*设置点标记*/
  // map.on('click', function (e) {
  //   clear();
  //   if (lnglats.length < 1) {
  //     lnglats.push(e.lnglat);
  //     var index = lnglats.length;
  //     marker.setPosition(e.lnglat);
  //     markers.push(marker);
  //     map.add(marker);
  //     regeoCode()
  //   }
  // });
  /*删除位置*/
  function clear() {
    map.remove(markers);
    markers = [];
    lnglats = [];
  };
  /*经纬度转地址*/
  function regeoCode() {
    geocoder.getAddress(lnglats, function (status, result) {
      var address = []
      vm.address = ''
      if (status === 'complete' && result.regeocodes.length) {
        for (var i = 0; i < result.regeocodes.length; i += 1) {
          if (!vm.address) {
            vm.address = result.regeocodes[i].formattedAddress;
          }
        }
      } else {
        console.error(result)
      }
    });
  }

  /*地址转经纬度*/
  function geoCode(address) {
    geocoder.getLocation(address, function (status, result) {
      if (status === 'complete' && result.geocodes.length) {
        var lnglat = result.geocodes[0].location
        vm.formData.reportGps = lnglat.lng + ',' + lnglat.lat;

        marker.setPosition(lnglat);
        map.add(marker);
        map.setFitView(marker);
      } else {
      }
    });
  }

  /*首次经纬度转地址*/
  function fistRegeoCode(lng, lat) {
    let coorList = [lng, lat]
    geocoder.getAddress(coorList, function (status, result) {
      if (status === 'complete' && result.regeocode) {
        vm.areaName = result.regeocode.addressComponent.province + ' ' + result.regeocode.addressComponent.city + ' ' + result.regeocode.addressComponent.district
      } else {

      }
    });
  }
</script>


</html>